.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 1282px;
    background: #F2F3F7;

    .projects__titul {
        font-weight: bold;
        font-size: 50px;
        padding: 115px 0px 30px;
    }
    .article__projects {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 360px);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        padding: 0px 0px 115px;

        .article__projects_item {
            width: 100%;
            height: 440px;
            position: relative;
            overflow: hidden;

            &:hover .article__projects_item-block {
                display: block;
                transition-duration: 300ms;
                top: 0px;
            }
            .article__projects_item-block {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(227, 27, 75, 0.6);            
                color: white;
                margin: 0;
                transition-duration: 300ms;
                bottom: 0;
                right: 0;
     
                .article__projects_item-block_text1 {
                    font-size: 24px;
                    font-weight: bold;
                    margin: 360px 24px 4px;
                    }      
                .article__projects_item-block_text2 {
                    font-size: 16px;
                    margin: 4px 24px 0px;
                }
            }
        }
    }
}

    @media (max-width: 980px) {
        .projects {
            height: 962px;

            .projects__titul {
                font-size: 48px;
                margin: 64px 0px 18px 30px;
            }
            .article__projects {
            grid-template-columns: repeat(3, 295px);
            grid-column-gap: 18px;
            grid-row-gap: 18px;
            justify-content: flex-start;
            margin: 0px 0px 64px 30px;
        
            .article__projects_item {
                height: 361px;
            }
            .article__projects_item-block {

                .article__projects_item-block_text1 {
                    margin: 295px 24px 4px;
                }
            }
    
        }

    }
}

@media (max-width: 768px) {
    .projects {
        height: 1326px;
    
        .projects__titul {
            font-size: 48px;
            margin: 72px 0px 30px 90px;
        }
        .article__projects {
            grid-template-columns: repeat(2, 285px);
            grid-column-gap: 18px;
            grid-row-gap: 18px;
            justify-content: flex-start;
            margin: 0px 0px 72px 90px;
            .article__projects_item {
                height: 350px;
            }

        }
    }
}
@media (max-width: 500px) {
    .projects {
        height: 2309px;
    
        .projects__titul {
            font-size: 24px;
            margin: 37px 0px 30px 34px;
        }

        .article__projects {
            grid-template-columns: repeat(1, 285px);
            grid-column-gap: 18px;
            grid-row-gap: 18px;
            justify-content: flex-start;
            margin: 0px 0px 45px 37px;
        }
    }
    
}
                                                            
    
    
        


