.our-approach {
    width: 100%;
}
.our-approach__titul {
    font-weight: bold;
    font-size: 50px;
    color: #3B424A;
    margin: 0;
}
.our-approach__titul {
    grid-area: titul;
}
.article__our-approach-item1 {
    grid-area: item1;
}
.article__our-approach-item_oval1 {
    grid-area: image1;
}
.article__our-approach-item_oval2 {
    grid-area: image2;
}
.article__our-approach-item2 {
    grid-area: item2;
}
.article__our-approach-item3 {
    grid-area: item3;
}
.article__our-approach-item_oval3 {
    grid-area: image3;
}
.article__our-approach-item_oval4 {
    grid-area: image4;
}
.article__our-approach-item4 {
    grid-area: item4;
}
.article__our-approach-item5 {
    grid-area: item5;
}
.article__our-approach-item_oval5 {
    grid-area: image5;
}

.article__our-approach {
    display: grid;
    grid-template-columns: repeat(2, 460px);
    grid-template-areas:
        "titul ."
        "item1 image1"
        "image2 item2"
        "item3 image3"
        "image4 item4"
        "item5 image5";
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: center;
    font-weight: 300;
    font-size: 24px;
    color: #3B424A;
    margin: 125px 240px 120px;

    .article__our-approach-item_oval1,
    .article__our-approach-item_oval2,
    .article__our-approach-item_oval3,
    .article__our-approach-item_oval4,
    .article__our-approach-item_oval5 {
        justify-self: center;
        align-self: center;
    }    

    .article__our-approach-item_oval-icon1 {
        position: absolute;
        margin: 30px 0px 0px -30px;
    }
    .article__our-approach-item_oval-icon2 {
        position: absolute;
        margin: 40px 0px 0px -45px;
    }
    .article__our-approach-item_oval-icon3 {
        position: absolute;
        margin: 40px 0px 0px -30px;
    }
    .article__our-approach-item_oval-icon4 {
        position: absolute;
        margin: 30px 0px 0px -40px;
    }
    .article__our-approach-item_oval-icon5 {
        position: absolute;
        margin: 30px 0px 0px -30px;
    }
    .article__our-approach-item_name {
        font-weight: bold;
        font-size: 24px;
        color: #3B424A;
    }
}
.article__our-approach_idea {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 412px;
    background: #4D636F;
    color: white;
}
.article__our-approach_idea-name {
    font-weight: bold;
    font-size: 50px;
    margin: 80px 0px 16px;
}
.article__our-approach_idea-text {
    font-weight: 300;
    font-size: 24px;
    width: 760px;
    text-align: center;
    margin: 16px 0px 42px;
}
.article__our-approach_submit {
    width: 260px;
    height: 55px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: #E75A7C;
    border-radius: 6px;
}
.article__our-approach_submit:hover {
    background: #FA89A4;
}
.article__our-approach_submit:focus {
    background: #E75A7C;
    border: 2px dashed #FFBDCD;
}
.article__our-approach_submit:active {
    background: #E31B4B;
}

