.our-approach {
    width: 100%;
    height: 1860px;
    display: grid;
    grid-template-columns: repeat(2, 460px);
    grid-template-rows: 190px 250px 250px 272px 304px 250px;
    grid-template-areas:
        "titul ."
        "item1 image1"
        "image2 item2"
        "item3 image3"
        "image4 item4"
        "item5 image5";
    grid-column-gap: 40px;
    grid-row-gap: 47px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #3B424A;

    .our-approach__titul {
        grid-area: titul;
        font-weight: bold;
        font-size: 50px;
        line-height: 63px;
        color: #3B424A;
        margin-top: 126px;
        align-self: start;
        justify-self: start;
    }
    .our-approach__item-name {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #3B424A;
        margin-bottom: 18px;
    }
    %circle {
        position: relative;
        width: 133px;
        height: 133px;
        border-radius: 50%;
        background: #E75A7C;
        opacity: 0.2;
        }

   .our-approach__item1 {
        grid-area: item1;
        line-height: 32px;
    }
    .our-approach__img1 {
        grid-area: image1;
    
        .circle {
            @extend %circle;
        }
        .our-approach__img1-icon {
            position: absolute;
            margin: -110px 0px 0px -30px;
        }
    }
    .our-approach__img2 {
        grid-area: image2;

        .circle {
            @extend %circle;
        }
        .our-approach__img2-icon {
            position: absolute;
            margin: -110px 0px 0px 90px; 
        }
    }
    .our-approach__item2 {
        grid-area: item2;
        line-height: 32px;
    }
    .our-approach__item3 {
        grid-area: item3;
        line-height: 32px;
    }
    .our-approach__img3 {
        grid-area: image3;
        
        .circle {
            @extend %circle;
        }
        .our-approach__img3-icon {
            position: absolute;
            margin: -110px 0px 0px -30px;
        }
    }
    .our-approach__img4 {
        grid-area: image4;

        .circle {
            @extend %circle;
        }
        .our-approach__img4-icon {
            position: absolute;
            margin: -110px 0px 0px 90px;
        }
    }
    .our-approach__item4 {
        grid-area: item4;
        line-height: 32px;
    }
    .our-approach__item5 {
        grid-area: item5;
        line-height: 32px;
    }
    .our-approach__img5 {
        grid-area: image5;

        .circle {
            @extend %circle;
        }
        .our-approach__img5-icon {
            position: absolute;
            margin: -110px 0px 0px -30px;
        }
    }
}
@media (max-width: 980px) {
    .our-approach {
        height: 1850px;
        grid-template-columns: repeat(3, 225px);
        grid-template-areas:
            "titul titul ."
            "item1 item1 image1"
            "image2 item2 item2"
            "item3 item3 image3"
            "image4 item4 item4"
            "item5 item5 image5";
        justify-content: center;
        justify-items: start;
        font-size: 20px;
        line-height: 32px;
        font-weight: 300;

        .our-approach__titul {
            font-size: 48px;
            line-height: 60px;
            margin-top: 112px;
        }
        .our-approach__img1, 
        .our-approach__img3,
        .our-approach__img5 {
            justify-self: center;
        }
    }
}
@media (max-width: 768px) {
    .our-approach {
        height: 2500px;
        grid-template-columns: repeat(1, 589px);
        grid-template-rows: 120px 180px 160px 180px 170px 180px 200px 180px 200px 180px 170px;
        grid-template-areas:
            "titul"
            "image1"
            "item1"
            "image2"
            "item2"
            "image3"
            "item3"
            "image4"
            "item4"
            "image5"
            "item5";
        justify-content: center;
        justify-items: center;

        .our-approach__titul {
            font-size: 36px;
            line-height: 45px;
            margin-top: 66px;
        }
        .our-approach__item-name {
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 16px;
        }
    }
}
@media (max-width: 500px) {
    .our-approach {
        height: 2300px;
        grid-template-columns: repeat(1, 286px);
        grid-template-rows: 100px 100px 250px 100px 250px 100px 272px 100px 304px 100px 250px;
        grid-row-gap: 30px;


        .our-approach__titul {
            font-size: 24px;
        }
        .our-approach__item1,
        .our-approach__item2,
        .our-approach__item3,
        .our-approach__item4,
        .our-approach__item5 {
            font-size: 14px;
            line-height: 26px;
        }

        .our-approach__item-name {
            font-size: 16px;
        }
        .our-approach__img1,
        .our-approach__img2,
        .our-approach__img3,
        .our-approach__img4,
        .our-approach__img5 {

            .circle {
                width: 82px;
                height: 82px;
                border-radius: 50%;
            }
            .our-approach__img1-icon {
                height: 50px;
                margin: -70px 0px 0px -20px;
            }
            .our-approach__img2-icon {
                height: 50px;
                margin: -70px 0px 0px 55px;
            }
            .our-approach__img3-icon {
                height: 50px;
                margin: -70px 0px 0px -20px;
            }
            .our-approach__img4-icon {
                height: 50px;
                margin: -70px 0px 0px 55px;
            }
            .our-approach__img5-icon {
                height: 50px;
                margin: -70px 0px 0px -20px;
            }
        }
    }
}