.idea-submit {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #4D636F;
    color: white;
    padding: 78px 0px;

    .idea-submit__name {
        font-weight: bold;
        font-size: 50px;
        line-height: 63px;
    }
    .idea-submit__text {
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        padding: 34px 240px;

    }
    .idea-submit__submit {
        width: 260px;
        height: 55px;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: white;
        background: #E75A7C;
        border-radius: 6px;
        border: none;

        &:hover {
            background: #FA89A4;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
        &:focus {
            background: #E75A7C;
            border: 2px dashed #FFBDCD;
        }
        &:active {
            background: #E31B4B;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
            border: none;
        }
    }
}
@media (max-width: 980px) {
    .idea-submit {

        .idea-submit__name {
        }
        .idea-submit__text {
            padding: 34px 74px;

        }
        .idea-submit__submit {
            width: 295px;
        }
    }
}
@media (max-width: 768px) {
    .idea-submit {

        .idea-submit__text {
            font-size: 20px;
            line-height: 25px;
        }
        .idea-submit__submit {
            width: 225px;
        }
    }
}
@media (max-width: 500px) {
    .idea-submit {

        .idea-submit__name {
            font-size: 24px;
            line-height: 30px;
        }
        .idea-submit__text {
            font-size: 18px;
            line-height: 23px;
        }
        .idea-submit__submit {
            width: 228px;
            height: 42px;
            font-size: 16px;
            line-height: 20px;
        }
    }
}