* {
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header {
  position: relative;
  color: white;
  height: 894px;
  background-image: url(../Images/image.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.header .header__nav-name {
  font-size: 24px;
  padding: 15px 48px;
  background: #4d636f;
}
.header .header__nav {
  height: 60px;
}
.header .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 20px;
  right: 30px;
  list-style-type: none;
}
.header .header__nav-item-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  margin-left: 30px;
  cursor: pointer;
}
.header .header__nav-item-link:hover {
  border-bottom: 2px solid #a1c5d9;
}
.header .header__nav-item-link:focus {
  color: #a1c5d9;
}
.header .header__nav-item-link:active {
  font-weight: 600;
  color: white;
  border-bottom: 2px solid #ffffff;
}
.header .header__close-icon {
  display: none;
  text-align: right;
  padding: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: auto;
}
.header .header__menu-icon {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: auto 1rem auto auto;
  font-size: 2rem;
  line-height: 1;
  padding: 1rem;
  cursor: pointer;
}
.header .company {
  color: white;
}
.header .company__page {
  font-size: 50px;
  line-height: 63px;
  font-weight: bold;
  padding: 0px;
  margin: 310px 0px 30px;
  text-align: center;
}
.header .company__text {
  max-width: 771px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: auto;
}

@media (max-width: 980px) {
  .header {
    height: 719px;
  }
  .header .header__close-icon {
    display: block;
  }
  .header .header__nav-list {
    right: 0;
    background-color: #4d636f;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
    display: none;
    z-index: 2;
  }
  .header .header__nav-list--active {
    display: block;
  }
  .header .header__nav-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 -5px 14px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0 -5px 14px 8px rgba(0, 0, 0, 0.3);
  }
  .header .header__nav-item-link {
    font-size: 20px;
    line-height: 40px;
  }
  .header .header__menu-icon {
    display: block;
  }
  .header .company .company__page {
    margin: 223px 0px 30px;
  }
  .header .company .company__text {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .header {
    height: 717px;
  }
  .header .header__nav-item-link {
    margin-left: 30px;
  }
  .header .company .company__page {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
  }
  .header .company .company__text {
    font-size: 20px;
    line-height: 37px;
  }
}
@media (max-width: 500px) {
  .header .company .company__page {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 223px 0px 36px;
    text-align: center;
  }
  .header .company .company__text {
    font-size: 16px;
    line-height: 28px;
    margin: 0% 12%;
  }
}
.what-we-do {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F3F7;
  padding: 70px 150px;
}
.what-we-do .what-we-do__title {
  display: inline-block;
  font-weight: bold;
  font-size: 50px;
  line-height: 63px;
  color: #3B424A;
  -ms-flex-item-align: start;
      align-self: start;
  margin-bottom: 30px;
}
.what-we-do .what-we-do__text {
  display: inline-block;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #3B424A;
}

@media (max-width: 980px) {
  .what-we-do {
    padding: 48px 100px;
  }
  .what-we-do .what-we-do__title {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 32px;
  }
  .what-we-do .what-we-do__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
  }
}
@media (max-width: 768px) {
  .what-we-do {
    padding: 39px 70px;
  }
  .what-we-do .what-we-do__title {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 18px;
  }
  .what-we-do .what-we-do__text {
    font-size: 20px;
    line-height: 36px;
  }
}
@media (max-width: 500px) {
  .what-we-do {
    padding: 53px 37px;
  }
  .what-we-do .what-we-do__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .what-we-do .what-we-do__text {
    font-size: 14px;
    line-height: 26px;
  }
}
.statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #4D636F;
  color: white;
  padding: 88px 0px;
}
.statistic .statistic__list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.statistic .statistic__list .statistic__list-item {
  float: left;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  line-height: 63px;
  width: 23.5%;
  margin-right: 1%;
}
.statistic .statistic__list .statistic__list-item-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  margin-top: 18px;
}

@media (max-width: 980px) {
  .statistic {
    width: 100%;
    padding: 76px 0px;
  }
  .statistic .statistic__list .statistic__list-item {
    font-size: 36px;
    line-height: 45px;
  }
  .statistic .statistic__list .statistic__list-item-text {
    font-size: 20px;
    line-height: 25px;
    margin-top: 12px;
  }
}
@media (max-width: 768px) {
  .statistic {
    width: 100%;
    padding: 65px 0px 15px;
  }
  .statistic .statistic__list {
    margin: 0;
  }
  .statistic .statistic__list .statistic__list-item {
    width: 48%;
  }
  .statistic .statistic__list .statistic__list-item-text {
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .statistic {
    padding: 48px 0px 18px;
  }
  .statistic .statistic__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .statistic .statistic__list .statistic__list-item {
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    width: 100%;
  }
  .statistic .statistic__list .statistic__list-item-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
  }
}
.our-approach {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, min-max(450px, 460px));
  grid-template-rows: auto;
  grid-template-areas: "title ." "item1 image1" "image2 item2" "item3 image3" "image4 item4" "item5 image5";
  grid-column-gap: 40px;
  grid-row-gap: 47px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #3B424A;
  padding: 126px 140px;
}
.our-approach .our-approach__title {
  grid-area: title;
  font-weight: bold;
  font-size: 50px;
  line-height: 63px;
  color: #3B424A;
  -ms-flex-item-align: start;
      align-self: start;
  justify-self: start;
}
.our-approach .our-approach__item-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #3B424A;
  margin-bottom: 18px;
}
.our-approach .our-approach__img1 .circle, .our-approach .our-approach__img2 .circle, .our-approach .our-approach__img3 .circle, .our-approach .our-approach__img4 .circle, .our-approach .our-approach__img5 .circle {
  position: relative;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background: #E75A7C;
  opacity: 0.2;
}
.our-approach .our-approach__item1 {
  grid-area: item1;
  line-height: 32px;
}
.our-approach .our-approach__img1 {
  grid-area: image1;
}
.our-approach .our-approach__img1 .our-approach__img1-icon {
  position: absolute;
  margin: -110px 0px 0px -30px;
}
.our-approach .our-approach__img2 {
  grid-area: image2;
}
.our-approach .our-approach__img2 .our-approach__img2-icon {
  position: absolute;
  margin: -110px 0px 0px 90px;
}
.our-approach .our-approach__item2 {
  grid-area: item2;
  line-height: 32px;
}
.our-approach .our-approach__item3 {
  grid-area: item3;
  line-height: 32px;
}
.our-approach .our-approach__img3 {
  grid-area: image3;
}
.our-approach .our-approach__img3 .our-approach__img3-icon {
  position: absolute;
  margin: -110px 0px 0px -30px;
}
.our-approach .our-approach__img4 {
  grid-area: image4;
}
.our-approach .our-approach__img4 .our-approach__img4-icon {
  position: absolute;
  margin: -110px 0px 0px 90px;
}
.our-approach .our-approach__item4 {
  grid-area: item4;
  line-height: 32px;
}
.our-approach .our-approach__item5 {
  grid-area: item5;
  line-height: 32px;
}
.our-approach .our-approach__img5 {
  grid-area: image5;
}
.our-approach .our-approach__img5 .our-approach__img5-icon {
  position: absolute;
  margin: -110px 0px 0px -30px;
}

@media (max-width: 980px) {
  .our-approach {
    grid-template-columns: repeat(3, minmax(200px, 225px));
    grid-template-areas: "title title ." "item1 item1 image1" "image2 item2 item2" "item3 item3 image3" "image4 item4 item4" "item5 item5 image5";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: start;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    padding: 111px 108px;
  }
  .our-approach .our-approach__title {
    font-size: 48px;
    line-height: 60px;
  }
  .our-approach .our-approach__img1,
  .our-approach .our-approach__img3,
  .our-approach .our-approach__img5 {
    justify-self: center;
  }
}
@media (max-width: 768px) {
  .our-approach {
    grid-template-columns: auto;
    grid-template-areas: "title" "image1" "item1" "image2" "item2" "image3" "item3" "image4" "item4" "image5" "item5";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    padding: 65px 89px;
  }
  .our-approach .our-approach__title {
    font-size: 36px;
    line-height: 45px;
  }
  .our-approach .our-approach__item-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 16px;
  }
}
@media (max-width: 500px) {
  .our-approach {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    padding: 48px 45px;
  }
  .our-approach .our-approach__title {
    font-size: 24px;
  }
  .our-approach .our-approach__item1,
  .our-approach .our-approach__item2,
  .our-approach .our-approach__item3,
  .our-approach .our-approach__item4,
  .our-approach .our-approach__item5 {
    font-size: 14px;
    line-height: 26px;
  }
  .our-approach .our-approach__item-name {
    font-size: 16px;
  }
  .our-approach .our-approach__img1 .circle,
  .our-approach .our-approach__img2 .circle,
  .our-approach .our-approach__img3 .circle,
  .our-approach .our-approach__img4 .circle,
  .our-approach .our-approach__img5 .circle {
    width: 82px;
    height: 82px;
    border-radius: 50%;
  }
  .our-approach .our-approach__img1 .our-approach__img1-icon,
  .our-approach .our-approach__img2 .our-approach__img1-icon,
  .our-approach .our-approach__img3 .our-approach__img1-icon,
  .our-approach .our-approach__img4 .our-approach__img1-icon,
  .our-approach .our-approach__img5 .our-approach__img1-icon {
    height: 50px;
    margin: -70px 0px 0px -20px;
  }
  .our-approach .our-approach__img1 .our-approach__img2-icon,
  .our-approach .our-approach__img2 .our-approach__img2-icon,
  .our-approach .our-approach__img3 .our-approach__img2-icon,
  .our-approach .our-approach__img4 .our-approach__img2-icon,
  .our-approach .our-approach__img5 .our-approach__img2-icon {
    height: 50px;
    margin: -70px 0px 0px 55px;
  }
  .our-approach .our-approach__img1 .our-approach__img3-icon,
  .our-approach .our-approach__img2 .our-approach__img3-icon,
  .our-approach .our-approach__img3 .our-approach__img3-icon,
  .our-approach .our-approach__img4 .our-approach__img3-icon,
  .our-approach .our-approach__img5 .our-approach__img3-icon {
    height: 50px;
    margin: -70px 0px 0px -20px;
  }
  .our-approach .our-approach__img1 .our-approach__img4-icon,
  .our-approach .our-approach__img2 .our-approach__img4-icon,
  .our-approach .our-approach__img3 .our-approach__img4-icon,
  .our-approach .our-approach__img4 .our-approach__img4-icon,
  .our-approach .our-approach__img5 .our-approach__img4-icon {
    height: 50px;
    margin: -70px 0px 0px 55px;
  }
  .our-approach .our-approach__img1 .our-approach__img5-icon,
  .our-approach .our-approach__img2 .our-approach__img5-icon,
  .our-approach .our-approach__img3 .our-approach__img5-icon,
  .our-approach .our-approach__img4 .our-approach__img5-icon,
  .our-approach .our-approach__img5 .our-approach__img5-icon {
    height: 50px;
    margin: -70px 0px 0px -20px;
  }
}
.idea-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4D636F;
  color: white;
  padding: 78px 0px;
}
.idea-submit .idea-submit__name {
  font-weight: bold;
  font-size: 50px;
  line-height: 63px;
}
.idea-submit .idea-submit__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  padding: 34px 240px;
}
.idea-submit .idea-submit__submit {
  width: 260px;
  height: 55px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: white;
  background: #E75A7C;
  border-radius: 6px;
  border: none;
}
.idea-submit .idea-submit__submit:hover {
  background: #FA89A4;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.idea-submit .idea-submit__submit:focus {
  background: #E75A7C;
  border: 2px dashed #FFBDCD;
}
.idea-submit .idea-submit__submit:active {
  background: #E31B4B;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
  border: none;
}

@media (max-width: 980px) {
  .idea-submit .idea-submit__text {
    padding: 34px 74px;
  }
  .idea-submit .idea-submit__submit {
    width: 295px;
  }
}
@media (max-width: 768px) {
  .idea-submit .idea-submit__text {
    font-size: 20px;
    line-height: 25px;
  }
  .idea-submit .idea-submit__submit {
    width: 225px;
  }
}
@media (max-width: 500px) {
  .idea-submit .idea-submit__name {
    font-size: 24px;
    line-height: 30px;
  }
  .idea-submit .idea-submit__text {
    font-size: 18px;
    line-height: 23px;
  }
  .idea-submit .idea-submit__submit {
    width: 228px;
    height: 42px;
    font-size: 16px;
    line-height: 20px;
  }
}
.technologies {
  width: 100%;
  display: grid;
  grid-template-columns: 3, minmax(220px, 360px);
  grid-template-rows: auto;
  grid-template-areas: "title title title" "name1 name2 name3" "line1 line1 line1" "text1 text2 text3" "name4 name5 name6" "line2 line2 line2" "text4 text5 text6";
  grid-column-gap: 40px;
  grid-row-gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #3B424A;
  padding: 106px 80px;
}
.technologies .technologies__title {
  grid-area: title;
  font-weight: bold;
  font-size: 50px;
  line-height: 63px;
  color: #2C2F3C;
  -ms-flex-item-align: end;
      align-self: end;
  margin-bottom: 55px;
}
.technologies .technologies__name1, .technologies .technologies__name2, .technologies .technologies__name3, .technologies .technologies__name4, .technologies .technologies__name5, .technologies .technologies__name6 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #3B424A;
  margin: 0;
}
.technologies .technologies__name1 {
  grid-area: name1;
}
.technologies .technologies__text1 {
  grid-area: text1;
}
.technologies .technologies__line1, .technologies .technologies__line2, .technologies .technologies__line3,
.technologies .technologies__line4,
.technologies .technologies__line5,
.technologies .technologies__line6 {
  background: #E75A7C;
  height: 3px;
}
.technologies .technologies__line1 {
  grid-area: line1;
}
.technologies .technologies__line2 {
  grid-area: line2;
}
.technologies .technologies__line3,
.technologies .technologies__line4,
.technologies .technologies__line5,
.technologies .technologies__line6 {
  display: none;
}
.technologies .technologies__name2 {
  grid-area: name2;
}
.technologies .technologies__name3 {
  grid-area: name3;
}
.technologies .technologies__name4 {
  grid-area: name4;
}
.technologies .technologies__name5 {
  grid-area: name5;
}
.technologies .technologies__name6 {
  grid-area: name6;
}
.technologies .technologies__text2 {
  grid-area: text2;
}
.technologies .technologies__text3 {
  grid-area: text3;
}
.technologies .technologies__text4 {
  grid-area: text4;
  margin: 0;
}
.technologies .technologies__text4 .technologies__text4-2 {
  margin-top: 25px;
}
.technologies .technologies__text5 {
  grid-area: text5;
}
.technologies .technologies__text6 {
  grid-area: text6;
}

@media (max-width: 980px) {
  .technologies {
    display: grid;
    grid-template-columns: 2, minmax(350px, 373px);
    grid-template-rows: auto;
    grid-template-areas: "title title" "name1 name2" "line1 line1" "text1 text2" "name3 name4" "line2 line2" "text3 text4" "name5 name6" "line3 line3" "text5 text6";
    grid-column-gap: 18px;
    grid-row-gap: 12px;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #3B424A;
    padding: 101px 50px;
  }
  .technologies .technologies__line3 {
    display: block;
    grid-area: line3;
  }
  .technologies .technologies__title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 48px;
  }
  .technologies .technologies__name1,
  .technologies .technologies__name2,
  .technologies .technologies__name3,
  .technologies .technologies__name4,
  .technologies .technologies__name5,
  .technologies .technologies__name6 {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 768px) {
  .technologies {
    display: grid;
    grid-template-columns: 2, minmax(280px, 295px);
    grid-template-rows: auto;
    grid-column-gap: 33px;
    grid-row-gap: 12px;
    font-weight: 300;
    color: #3B424A;
    padding: 72px 40px;
  }
  .technologies .technologies__title {
    font-size: 48px;
    margin-bottom: 45px;
  }
}
@media (max-width: 500px) {
  .technologies {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "title" "name1" "line1" "text1" "name2" "line2" "text2" "name3" "line3" "text3" "name4" "line4" "text4" "name5" "line5" "text5" "name6" "line6" "text6";
    grid-column-gap: 0;
    grid-row-gap: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #3B424A;
    padding: 36px 40px;
  }
  .technologies .technologies__line4 {
    grid-area: line4;
    display: block;
  }
  .technologies .technologies__line5 {
    grid-area: line5;
    display: block;
  }
  .technologies .technologies__line6 {
    grid-area: line6;
    display: block;
  }
  .technologies .technologies__title {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 16px;
  }
  .technologies .technologies__name1,
  .technologies .technologies__name2,
  .technologies .technologies__name3,
  .technologies .technologies__name4,
  .technologies .technologies__name5,
  .technologies .technologies__name6 {
    font-size: 18px;
    line-height: 23px;
  }
}
.projects {
  width: 100%;
  background: #F2F3F7;
  display: grid;
  grid-template-columns: repeat(3, minmax(285px, 360px));
  grid-template-rows: auto;
  grid-template-areas: "title title title" "item1 item2 item3" "item4 item5 item6";
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 115px 80px;
}
.projects .projects__title {
  grid-area: title;
  -ms-flex-item-align: end;
      align-self: end;
  font-weight: bold;
  font-size: 50px;
  line-height: 63px;
  margin-bottom: 30px;
  color: #2C2F3C;
}
.projects .projects__img {
  width: 100%;
  height: 100%;
}
.projects .projects__item1 .projects__item1-block1, .projects .projects__item2 .projects__item2-block2, .projects .projects__item3 .projects__item3-block3, .projects .projects__item4 .projects__item4-block4, .projects .projects__item5 .projects__item5-block5, .projects .projects__item6 .projects__item6-block6 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 20px;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(227, 27, 75, 0.6);
  color: white;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  height: 100%;
}
.projects .projects__item1 .projects__item1-block1 .projects__item1-block1-text1, .projects .projects__item2 .projects__item2-block2 .projects__item2-block2-text1, .projects .projects__item3 .projects__item3-block3 .projects__item3-block3-text1, .projects .projects__item4 .projects__item4-block4 .projects__item4-block4-text1, .projects .projects__item5 .projects__item5-block5 .projects__item5-block5-text1, .projects .projects__item6 .projects__item6-block6 .projects__item6-block6-text1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 8px;
}
.projects .projects__item1 .projects__item1-block1 .projects__item1-block1-text2, .projects .projects__item2 .projects__item2-block2 .projects__item2-block2-text2, .projects .projects__item3 .projects__item3-block3 .projects__item3-block3-text2, .projects .projects__item4 .projects__item4-block4 .projects__item4-block4-text2, .projects .projects__item5 .projects__item5-block5 .projects__item5-block5-text2, .projects .projects__item6 .projects__item6-block6 .projects__item6-block6-text2 {
  font-size: 16px;
  line-height: 20px;
}
.projects .projects__item1, .projects .projects__item2, .projects .projects__item3, .projects .projects__item4, .projects .projects__item5, .projects .projects__item6 {
  position: relative;
  overflow: hidden;
}
.projects .projects__item1:hover .projects__item1-block1, .projects .projects__item2:hover .projects__item2-block2, .projects .projects__item3:hover .projects__item3-block3, .projects .projects__item4:hover .projects__item4-block4, .projects .projects__item5:hover .projects__item5-block5, .projects .projects__item6:hover .projects__item6-block6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  top: 0px;
}
.projects .projects__item1 {
  grid-area: item1;
  cursor: pointer;
}
.projects .projects__item2 {
  grid-area: item2;
  cursor: pointer;
}
.projects .projects__item3 {
  grid-area: item3;
  cursor: pointer;
}
.projects .projects__item4 {
  grid-area: item4;
  cursor: pointer;
}
.projects .projects__item5 {
  grid-area: item5;
  cursor: pointer;
}
.projects .projects__item6 {
  grid-area: item6;
  cursor: pointer;
}

@media (max-width: 980px) {
  .projects {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    padding: 64px 30px;
  }
  .projects .projects__title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 16px;
  }
}
@media (max-width: 768px) {
  .projects {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "title title" "item1 item2" "item3 item4" "item5 item6";
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .projects__title {
    margin-bottom: 18px;
  }
}
@media (max-width: 500px) {
  .projects {
    display: grid;
    grid-template-columns: 285px;
    grid-template-rows: auto;
    grid-template-areas: "title" "item1"  "item2" "item3" "item4" "item5" "item6";
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .projects__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
  }
}
.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 500px 140px;
  grid-template-rows: auto;
  grid-template-areas: "form contact";
  grid-column-gap: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #4D636F;
  color: white;
  padding: 88px 0px;
}
.footer .footer__contacts-form {
  grid-area: form;
}
.footer .footer__contacts-form .footer__contacts {
  font-size: 50px;
  line-height: 63px;
  font-weight: 900;
  margin-bottom: 18px;
}
.footer .footer__contacts-form .footer__contacts-item {
  width: 100%;
  height: 54px;
  background: #F2F3F7;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(33, 33, 33, 0.5);
  margin-top: 30px;
  padding-left: 24px;
}
.footer .footer__contacts-form .footer__contacts-item:hover {
  background: #FEFEFE;
}
.footer .footer__contacts-form .footer__contacts-item:focus {
  background: #FEFEFE;
  color: #000000;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
}
.footer .footer__contacts-form .footer__contacts-item1 {
  width: 100%;
  height: 139px;
  background: #F2F3F7;
  border-radius: 4px;
  font-size: 14px;
  color: rgba(33, 33, 33, 0.5);
  margin-top: 30px;
  padding: 19px 0px 0px 24px;
  resize: none;
}
.footer .footer__contacts-form .footer__contacts-item1:hover {
  background: #FEFEFE;
}
.footer .footer__contacts-form .footer__contacts-item1:focus {
  background: #FEFEFE;
  color: #000000;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
}
.footer .footer__contacts-form .footer__contacts-button-submit {
  width: 500px;
  height: 48px;
  background: #E75A7C;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  margin-top: 18px;
}
.footer .footer__contacts-form .footer__contacts-button-submit:hover {
  background: #FA89A4;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.footer .footer__contacts-form .footer__contacts-button-submit:focus {
  background: #E75A7C;
  border: 2px dashed #FFBDCD;
}
.footer .footer__contacts-form .footer__contacts-button-submit:active {
  background: #E31B4B;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 1px 7px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.2);
  border: none;
}
.footer .footer__our-contacts {
  grid-area: contact;
}
.footer .footer__our-contacts .footer__our-contacts-list1,
.footer .footer__our-contacts .footer__our-contacts-list2 {
  width: 100%;
  font-size: 18px;
  line-height: 23px;
  padding: 0;
  margin: 0;
}
.footer .footer__our-contacts .footer__our-contacts-list1 .footer__our-contacts-title,
.footer .footer__our-contacts .footer__our-contacts-list2 .footer__our-contacts-title {
  font-size: 24px;
  line-height: 30px;
  margin-top: 110px;
}
.footer .footer__our-contacts .footer__our-contacts-list1 .footer__our-contacts-office,
.footer .footer__our-contacts .footer__our-contacts-list2 .footer__our-contacts-office {
  font-weight: 900;
  font-size: 18px;
  margin: 32px 0px;
}
.footer .footer__our-contacts .footer__our-contacts-list1 .footer__our-contacts-info,
.footer .footer__our-contacts .footer__our-contacts-list2 .footer__our-contacts-info {
  margin: 0;
}

@media (max-width: 980px) {
  .footer {
    grid-column-gap: 100px;
  }
}
@media (max-width: 768px) {
  .footer {
    grid-template-columns: minmax(290px, 590px);
    grid-template-rows: auto;
    grid-template-areas: "form" "contact";
    grid-row-gap: 72px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background: #4D636F;
    color: white;
    padding: 68px 90px;
  }
  .footer .footer__contacts-form .footer__contacts {
    font-size: 50px;
    line-height: 63px;
  }
  .footer .footer__contacts-form .footer__contacts-item {
    width: 100%;
    font-size: 14px;
    margin-top: 30px;
  }
  .footer .footer__contacts-form .footer__contacts-item1 {
    width: 100%;
    background: #F2F3F7;
    border-radius: 4px;
    font-size: 14px;
  }
  .footer .footer__contacts-form .footer__contacts-button-submit {
    width: 100%;
    font-size: 16px;
    margin-top: 30px;
  }
  .footer .footer__our-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer .footer__our-contacts .footer__our-contacts-list1 .footer__our-contacts-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
  }
  .footer .footer__our-contacts .footer__our-contacts-list2 {
    padding-left: 120px;
  }
}
@media (max-width: 500px) {
  .footer {
    grid-template-columns: 290px;
    grid-template-rows: auto;
    grid-row-gap: 37px;
    padding: 62px 0px;
  }
  .footer .footer__contacts-form {
    width: 100%;
  }
  .footer .footer__contacts-form .footer__contacts {
    font-size: 24px;
    line-height: 30px;
  }
  .footer .footer__contacts-form .footer__contacts-item {
    width: 100%;
    height: 42px;
    font-size: 14px;
    margin-top: 12px;
  }
  .footer .footer__contacts-form .footer__contacts-item1 {
    width: 100%;
    height: 127px;
    font-size: 14px;
    margin: 12px 0px 0px;
  }
  .footer .footer__contacts-form .footer__contacts-button-submit {
    width: 100%;
    height: 48px;
    font-size: 16px;
    margin-top: 18px;
  }
  .footer .footer__our-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    margin-top: 0;
    padding: 0;
  }
  .footer .footer__our-contacts .footer__our-contacts-list2 {
    padding-left: 0px;
  }
}

/*# sourceMappingURL=style.css.map */