* {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import "_header";
@import "_we";
@import "_statistic";
@import "_approach";
@import "_idea-submit";
@import "_technologies";
@import "_projects";
@import "_footer";
